# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.swiftdoc
*.swiftmodule
*.swiftsourceinfo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
so_long
so_long_debug
so_long_test
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
fdf

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# VSC files
.vscode

# MacOS files
.DS_Store
